[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mariuszNowicki
[access "refs/for/refs/*"]
	read = group user/mariuszNowicki
	push = group user/mariuszNowicki
	label-Code-Review = -2..+2 group user/mariuszNowicki
	label-Verified = -1..+1 group user/mariuszNowicki
	rebase = group user/mariuszNowicki
	removeReviewer = group user/mariuszNowicki
	submit = group user/mariuszNowicki
[access "refs/heads/*"]
	read = group user/mariuszNowicki
	create = group user/mariuszNowicki
	push = +force group user/mariuszNowicki
	pushMerge = group user/mariuszNowicki
[access "refs/tags/*"]
	push = group user/mariuszNowicki
	push = +force group user/mariuszNowicki
